<nav>

  <div class="nav nav-tabs" id="nav-tab" role="tablist">

    <button class="nav-link active" id="nav-cayaco-tab" data-bs-toggle="tab" data-bs-target="#nav-cayaco" type="button" role="tab" aria-controls="nav-cayaco" aria-selected="true">Cayaco</button>
    <button class="nav-link" id="nav-marabasco-tab" data-bs-toggle="tab" data-bs-target="#nav-marabasco" type="button" role="tab" aria-controls="nav-marabasco" aria-selected="false">Marabasco</button>
    <button class="nav-link" id="nav-piedralisa-tab" data-bs-toggle="tab" data-bs-target="#nav-piedralisa" type="button" role="tab" aria-controls="nav-piedralisa" aria-selected="false">Piedralisa</button>
    <button class="nav-link" id="nav-riodelumbre-tab" data-bs-toggle="tab" data-bs-target="#nav-riodelumbre" type="button" role="tab" aria-controls="nav-riodelumbre" aria-selected="false">Rio de lumbre</button>

  </div>

</nav>

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-cayaco" role="tabpanel" aria-labelledby="nav-cayaco-tab">
    <div class="container-all">
      <h5>
      The first best beer in the world. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nemo, explicabo delectus dolore necessitatibus sunt, laudantium quas quam cum ea veritatis beatae sit consectetur. Nemo vel laborum placeat repellat voluptatibus?
    </h5>
      <img src = "assets/cayaco.jpg"  height="200px" width="200px">
      <app-bottom></app-bottom>
    </div>
  </div>
  
  <div class="tab-pane fade" id="nav-marabasco" role="tabpanel" aria-labelledby="nav-marabasco-tab">
    <div class="container-all">
      <h5>
      The second best beer in the world. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, corrupti atque voluptates nobis ullam provident similique molestias officiis ab facere neque ut laboriosam soluta alias dolorem porro officia doloremque itaque?
      </h5>
      <img src = "assets/marabasco.jpg"  height="200px" width="200px">
      <app-bottom></app-bottom>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-piedralisa" role="tabpanel" aria-labelledby="nav-piedralisa-tab">
    <div class="container-all">
      <h5>
      The third best beer in the world. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellat eveniet quisquam? Laborum, natus, atque, ducimus nam incidunt ex itaque distinctio iure quam ea quibusdam officia voluptas harum cumque est.
      </h5>
      <img src = "assets/piedralisa.jpg"  height="200px" width="200px">
      <app-bottom></app-bottom>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-riodelumbre" role="tabpanel" aria-labelledby="nav-riodelumbre-tab">
    <div class="container-all">
      <h5>
      The fourth best beer in the world. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veniam autem aperiam ut, quasi corporis vel officia nulla. Blanditiis natus, reprehenderit explicabo veritatis fuga id mollitia tempora tenetur rem quia!
      </h5>
      <img src = "assets/riodelumbre.jpg"  height="200px" width="200px">
      <app-bottom></app-bottom>
    </div>
  </div>

</div>




